.categories-container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  // NavBar.scss
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #333;
    color: white;
  
    &-logo {
      font-size: 1.5rem;
      font-weight: bold;
    }
  
    &-toggle {
      display: none;
      background: none;
      border: none;
      color: white;
      font-size: 1rem;
      cursor: pointer;
      @media (max-width: 768px) {
        display: block;
      }
    }
  
    &-menu {
      display: flex;
      list-style: none;
      @media (max-width: 768px) {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 80px;
        left: 0;
        width: 100%;
        background-color: #333;
        padding: 10px 0;
      }
  
      &-item {
        margin: 0 15px;
        cursor: pointer;
        @media (max-width: 768px) {
          margin: 10px 0;
        }
      }
    }
  
    &.open {
      &-menu {
        display: flex;
      }
    }
  }
  
  